Perreria/src/main/resources/esquema.xsd

<?xml version="1.0"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://perreriaLomos.uv.mx/lomitos" xmlns:tns="https://perreriaLomos.uv.mx/lomitos" elementFormDefault="qualified">
<xs:element name="ModificarRegisRequest">
  <xs:complexType>
     <xs:sequence>
        <xs:element name="id" type="xs:int"/>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="edad" type="xs:int"/>
        <xs:element name="raza" type="xs:string"/>
     </xs:sequence>
  </xs:complexType>
</xs:element>
<xs:element name="ModificarRegisResponse">
  <xs:complexType>
     <xs:sequence>
        <xs:element name="respuesta" type="xs:string"/>
        </xs:sequence>
     </xs:complexType>
  </xs:element>
</xs:schema>
